<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
    <h1>    
        只有先触发了app.js里面的users路由
        再触发/register路由，执行register里面的函数 
        res.render()渲染过后
        才能看见我注册页面哦(localhost:300/users/login同理)
        注册页面
        </h1>
</body>
</html>